* {
  box-sizing: border-box;
}
@font-face {
  font-family: monoton;
  src: url(./font/monoton/Monoton-Regular.ttf);
}

@font-face {
  font-family: Neon-80s;
  src: url(./font/neon_80s/Neon.ttf);
}

@font-face {
  font-family: road-rage;
  src: url(./font/road_rage/Road_Rage.otf);
}

@media only screen and (max-width: 600px) {
  .container-projects {
    flex-direction: column;
    transform: scale(0.9);
    align-items: center;
  }

  .about_me_photo:hover {
    cursor: pointer;
    width: auto;
  }
}

/* ?????????????????????????????????? */
/* ?????????????????????????????????? */
/* ?????????????????????????????????? */

body {
  overflow: auto;

  background: linear-gradient(
    315deg,
    #000000 25%,
    #090408 50%,
    #1e0e22 75%,
    #2f123f 100%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.main_ul {
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  width: 20px;
  margin-left: -16.55px;
  list-style: none;
  z-index: 100;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1),
      0 0 18px rgba(255, 255, 255, 1), 0 0 38px rgba(255, 0, 153, 1),
      0 0 73px rgba(255, 0, 153, 1), 0 0 80px rgba(255, 0, 153, 1),
      0 0 94px rgba(255, 0, 153, 1), 0 0 140px rgba(255, 0, 153, 1);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes flicker2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 1), 0 0 11px rgba(255, 255, 255, 1),
      0 0 19px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 0, 153, 1),
      0 0 80px rgb(4, 0, 255), 0 0 90px rgb(37, 9, 201), 0 0 100px #3700ff,
      0 0 150px rgb(46, 14, 163);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flicker3 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1),
      0 0 18px rgba(255, 255, 255, 1), 0 0 38px rgba(255, 0, 153, 1),
      0 0 73px rgba(255, 0, 153, 1), 0 0 80px rgba(255, 0, 153, 1),
      0 0 94px rgba(255, 0, 153, 1), 0 0 140px rgba(255, 0, 153, 1);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.hero {
  position: fixed;
  z-index: index -100;
  width: 3px;
  border: 2.5px solid rgba(255, 0, 140, 1);
  background-color: rgba(255, 0, 140, 1);
  height: 150vh;
  margin-top: -100px;
  margin-bottom: none;
  margin-left: 33.3px;
  animation: flicker 1.5s infinite alternate;
}

.homepng:hover {
  width: 37px;
  height: 37px;
  transform: scale(1.4);
  padding-inline: 10px;
}

.main_container {
  text-rendering: optimizeSpeed;
  color: lightslategray;
  margin-left: 100px;
  font-size: 20px;
}

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

.vintage-text {
  margin: 0;
  font-family: monoton;
  line-height: 55px;
}

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

.container-projects {
  justify-content: center;
  display: flex;
}

.projects {
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: 3px solid rgb(111, 0, 255);
  border-radius: 15px;
  margin-left: 70px;
  margin-top: 100px;
  object-fit: cover;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(70, 4, 250, 0.322));
  transform-origin: center;
  box-shadow: 1.5px 1px 15px 1px #db7fdb;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}

.projects {
  text-shadow: 0 0 7px #ff0000, 0 0 10px #0000ff;
  color: whitesmoke;
  justify-content: center;
}

.container-projects:hover div {
  opacity: 0.3;
}

.container-projects div:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

h3 {
  color: rgb(77, 7, 53);
  text-align: center;
  font-family: road-rage;
  letter-spacing: 4px;
  text-shadow: 5px 5px 15px 5px #f5f2f2;
}

.anchor-link {
  text-decoration: none;
  color: whitesmoke;
  height: 20px;
  border-radius: 7px;
  margin-left: 5px;
}

.card-text {
  margin-left: 5px;
}

.info{
  margin-top: 300px;
  text-rendering: optimizeSpeed;
  color: lightslategray;
  margin-left: 100px;
  font-size: 20px;
  text-decoration: none;
  z-index: 7;
  position: absolute;;
}

/* ////////////////////////////////////////////// */

.strokeme {
  /* margin-top: 100px; */
  text-align: center;
  letter-spacing: 7px;
  position:relative;
  z-index: 5;
  padding: 40px;
  animation: flicker2 2s infinite alternate;
  font-size: 50px;
  -webkit-text-stroke: 3px rgba(106, 31, 192, 0.753);
  font-family: road-rage;
  
}

.junior {
  text-align: center;
  padding: 40px;
  letter-spacing: 7px;
  opacity: 70%;
  top: -10px;
  font-size: 50px;
  -webkit-text-stroke: 1.5px rgb(42, 31, 192);
  font-family: road-rage;
  /* animation: flicker3 4s infinite alternate; */
  -webkit-box-reflect: below 3px
    linear-gradient(transparent, transparent, rgba(93, 26, 202, 0.322));
  transform-origin: center;

}

.about_me_photo {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  width: 220px;
  border-radius: 50%;
  float: left;
  border: 1.5px solid rgb(44, 42, 42);
  box-shadow: 5px 5px 15px 5px #f7f3f328;
  transition: 0.4s ease-out;
}

.about_me_photo:hover {
  cursor: pointer;
  margin-right: 80px;
  transform: scale(1.4);
  box-shadow: rgba(88, 46, 240, 0.4) 0px 5px, rgba(120, 46, 240, 0.3) 0px 10px,
    rgba(82, 46, 240, 0.2) 0px 15px, rgba(46, 82, 240, 0.05) 0px 20px,
    rgba(65, 46, 240, 0.05) 0px 25px;
}

.taz {
  margin-left: 30px;
  cursor: pointer;
  width: 40%;
  border-radius: 30px;
  float: right;
  border: 1px solid rgb(44, 42, 42);
  box-shadow: 5px 5px 15px 5px #f7f3f328;
  transition: 0.4s ease-out;
}

.taz:hover {
  margin-top: 20px;
  cursor: pointer;
  margin-right: 100px;
  transform: scale(1.1);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.intruder {
  cursor: pointer;
  margin-right: 15px;
  margin-top: 45px;
  float: left;
  width: 47%;
  border-radius: 25px;
  float: left;
  border: 1.5px solid rgb(44, 42, 42);
  box-shadow: 5px 5px 15px 5px #f7f3f328;
  transition: 0.4s ease-out;
}

.intruder:hover {
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  transform: scale(1.1);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.drums {
  margin-left: 30px;
  cursor: pointer;
  float: right;
  border-radius: 25px;
  width: 38%;
  border: 1.5px solid rgb(44, 42, 42);
  box-shadow: 5px 5px 15px 5px #f7f3f328;
  transition: 0.4s ease-out;
}

.drums:hover {
  cursor: pointer;
  margin-right: 80px;
  margin-left: 50px;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px 5px #f7f3f328;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.bike {
  cursor: pointer;
  margin-top: 40px;
  margin-right: 30px;
  float: left;
  border-radius: 25px;
  width: 45%;
  border: 1.5px solid rgb(44, 42, 42);
  box-shadow: 5px 5px 15px 5px #f7f3f371;
  transition: 0.4s ease-out;
}

.bike:hover {
  cursor: pointer;
  margin-right: 50px;
  margin-left: 70px;
  margin-bottom: 80px;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px 5px #f7f3f328;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
